body{
    display: flex;
    background: linear-gradient(to right, #333, #524545);
    color: white;
    margin: 25px auto;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
}
#mainNameText{
    text-align: center;
    font-size: 50px;
    border: 3px solid #333;
    width: 500px;
    border-radius: 30px;
    background-color: #333;
    margin-top: 25px;
    margin-left:auto;
    margin-right: auto;
    color: #666
}
.textNoName{
    width: 100%;
    background-color: #333;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
    text-align: left;
    border-top: 5px solid;
   border-image: linear-gradient(to right, #ff00cc, #0000ff);
   border-image-slice: 1;
   border-image-outset: 0;
}
#FirstApp{
 padding-top: 0px;
 border: 3px solid #1d5b7d;
 border-radius: 10px;
 margin: 10px auto;
 width: 200px;
 height: 255px;
 text-align: center;
}
#saveValue{
    
}
#textBeforeCount{
    font-size: 19px;
    font-weight: bold;
}
#counterValue{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: -10px;
}
.button1{
    font-size: 25px;
    border-radius: 30px;
    
    background-color: #333;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a{
    color: red;
}