* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background: linear-gradient(to right, #333, #524545);
    color: white;
    margin: 25px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
}

#mainNameText {
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
    border: 3px solid #232323;
    width: 500px;
    border-radius: 30px;
    background-color: #333;
    margin: 25px auto 25px;
    color: #666;
}

.textNoName {
    width: 100%;
    background-color: #333;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
    text-align: left;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #ff00cc, #0000ff);
    border-image-slice: 1;
    border-image-outset: 0;
}
/* FirstApp section */
#FirstApp {
    padding-top: 0px;
    border: 3px solid #1d5b7d;
    border-radius: 10px;
    margin: 10px auto;
    width: 150px;
    height: 200px;
    text-align: center;
}

#textBeforeCount {
    font-size: 19px;
    font-weight: bold;
}

#counterValue {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.button1{
    font-size: 25px;
    border-radius: 30px;
    background-color: #333;
}

    /* Second app section*/
 #second-app {
    display: block;
    margin: 25px auto auto;
    border: 10px ridge green;
    border-radius: 10px;
    background-image: url('images/blackJack-background.jpg');
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 330px;

}
#second-app h2{
    background-color: darkgreen;
    text-align: center;
    width: 150px;
    margin: 25px auto 0;
    border-radius: 30px;
    border:2px solid green
}



#second-app p {
    text-align: center;
    margin: 2px auto auto 0;
    font-size: 20px;
    border-bottom: 4px dotted #04fd31;

}
#cards-box{
    float: left;
    width: 200px;
    height: 100px;
    border-bottom: 4px dotted #04fd31;
    border-right: 4px dotted #04fd31;
}

#cards-box span{
    font-size: 30px;
    
}

#cards-value {
    text-align: center;
    margin-top: 15px
}

#sum-box {
    float: right;
    width: 200px;
    height: 100px;
    border-bottom: 4px dotted #04fd31;
    border-left: 4px dotted #04fd31;
}

#sum-value {
    text-align: center;
    margin-top: 15px;
}

#sum-value span{
    font-size: 30px;
}

#game-buttons {
    margin: 135px auto 0px auto;
    text-align: center;
    height: 70px;
    width: 135px;
    
}

#game-buttons button{
    border-radius: 10px;
    border: 0 solid;
    margin-top: 5px;
    width: 133px;
    height: 30px;
    background-color: #c5e912;
    font-weight: bold;
    font-size: 19px;
    color: rgb(2, 57, 2);
}
    /* third app */
 .animation-circle{

    width: 100px;
    height: 100px;
    border-radius: 5%;
    background-color: #5e5373;
    position: relative;
    animation-name: circle;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }
        
.animation-circle:active {
    
    animation: rotate 2.5s infinite;
}
     /* ключевые кадры */
    @keyframes circle{
        
     0%{
    left: 0%;
    }
    50%{
        border-radius: 50%;
    }
    100%{
    left: 50%;
    }
    }
    @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    /* footer section */
footer {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#icon-github{
    position: relative;
    width: 30px;
    margin-right: 5px;
}

a{
    color: red;
}